header {
  background-image: linear-gradient(#161f37 40%, rgba(22, 31, 55, 0));
}

.logo-simple {
  width: 150px;
  position: relative;
  top: -30px;
}

.navbar {
  position: relative;
  top: -50px;
}

.nav-link {
  color: #ea5736;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-item {
  text-transform: capitalize;
}
.dropdown-item:active {
  background-color: #ea5736;
}

main {
  padding-top: 200px;
}

.nav-link:hover {
  color: #fff !important;
}

.footer {
  padding-left: 60px;
}
.footer h2 {
  color: #EA5736;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 60px 0;
}
.footer__contact {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(2, 1fr);
  color: white;
  font-size: 1.5rem;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 60px;
}
.footer__social {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  color: #EA5736;
  margin: 30px 0;
}
.footer__social span {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.footer__social i {
  color: #EA5736;
}
.footer .bi-qr-code {
  color: white;
  font-size: 5rem;
}
.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin-top: 30px;
}
.footer__end p {
  font-size: 0.8rem;
}
.footer__end p:nth-child(1) {
  place-self: flex-start;
  margin-top: 7px;
}
.footer__end p:nth-child(2) {
  font-size: 1.5rem;
}
.footer__end p:nth-child(2) a {
  color: white;
  text-decoration: none;
}
.footer__end p:nth-child(3) {
  place-self: flex-end;
  margin-bottom: 21px;
}

:root {
  --background: rgb(255, 255, 255);
  --primary: #ea5736;
  --secondary: #ea5736;
  --third: #ea5736;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 50%);
  animation: morph 4s linear infinite, rot55 6s;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 350px;
  transition: all 1s ease-in-out;
  width: 350px;
  z-index: 5;
  box-shadow: inset -10px 0px 5px 5px #f7380d, 3px 3px 35px 5px rgb(61, 28, 1);
}

.shape-container {
  overflow: hidden;
  height: 350px;
  width: 350px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    transform: scale(1);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.1);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    transform: scale(1);
  }
}
@media (max-width: 700px) {
  .shape-container {
    transform: scale(0.5) translateX(-150px);
    z-index: -1;
  }
}
@media (max-width: 991px) {
  .shape-container {
    transform: scale(0.5) translatex(-150px) translateY(100px);
    z-index: -1;
  }
}
.mision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 60px auto 120px;
  background-color: lightgrey;
  max-width: 1200px;
  height: 600px;
}
.mision div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.mision__img {
  width: 400px;
}
.mision h2,
.mision p {
  color: #161F37;
  font-size: 1.5rem;
}
.mision h2 {
  text-transform: capitalize;
  font-size: 3rem;
}

.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 120px auto;
}
.vision div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
}
.vision__img {
  width: 400px;
}
.vision h2,
.vision p {
  color: white;
  font-size: 1.5rem;
}
.vision h2 {
  text-transform: capitalize;
  font-size: 3rem;
}

.circle-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 15s cubic-bezier(0.46, 2.02, 0, -0.21);
}

.success {
  outline: 3px dashed #B9C108;
  border: 0.3rem solid #EA5736;
  outline-offset: 4px;
}

.inner {
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
.valores {
  display: flex;
  flex-direction: column;
}
.valores h2 {
  color: white;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.valores img {
  width: 190px;
  align-self: center;
}
.valores .inner {
  text-transform: uppercase;
  color: #EA5736;
  font-size: 1.4rem;
}
.valores__section {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 100px);
  justify-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}
.valores__section div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.valores__section div:nth-child(2) {
  grid-column: -4/-3;
  grid-row: 2/3;
}
.valores__section div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.valores__section div:nth-child(3) .inner {
  padding-left: 25px;
}
.valores__section div:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
}

@media (max-width: 850px) {
  .valores__section {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
  }
  .valores__section div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .valores__section div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .valores__section div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .valores__section div:nth-child(3) .inner {
    padding-left: 25px;
  }
  .valores__section div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
body {
  background: #161f37;
}

.index__tittles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 100px);
}
.index__tittles-h2 {
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
  padding-left: 50px;
}
.index__tittles-p {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  width: 60%;
  line-height: 1em;
  grid-column: 1/4;
  grid-row: 3/5;
}

.shape-container {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/5;
  z-index: -1;
}

.index__logo {
  width: 100%;
  grid-column: 3/4;
  grid-row: -5/-1;
  place-self: start;
}

/*# sourceMappingURL=styles.css.map */
