* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-gutter-x: 0;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

.container {
  --bs-gutter-x: 0rem;
}

header {
  background-color: #ffffff;
  height: 60px;
}

.logo-simple {
  width: 150px;
  position: relative;
  top: -30px;
  z-index: 100;
}

.navbar {
  position: relative;
  top: -60px;
}

.nav-link {
  color: #161f37 !important;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-menu {
  border: none;
}
.dropdown-menu .dropdown-item {
  text-transform: capitalize;
  color: white !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.116);
}
.dropdown-menu.show {
  background-color: transparent;
}

main {
  padding-top: 200px;
}

.navbar-collapse.collapse.show {
  background: #161f37;
}
.navbar-collapse.collapse.show li a {
  color: white !important;
}

.navbar-collapse.collapsing {
  background: #161f37;
  top: 50px !important;
}
.navbar-collapse.collapsing li a {
  color: white !important;
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 10px;
  }
  .navbar-collapse {
    border-radius: 5px;
    transform: translateY(-47px);
  }
}
.footer {
  position: relative;
  padding-left: 60px;
}
.footer h2 {
  color: #ea5736;
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 60px 0;
}
.footer__contact {
  display: grid;
  grid-template-columns: 30px auto;
  grid-template-rows: repeat(2, 1fr);
  color: white;
  font-size: 1.5rem;
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 60px;
}
.footer__social {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  color: #ea5736;
  margin: 30px 0;
}
.footer__social span {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.footer__social i {
  color: #ea5736;
}
.footer__logo {
  position: absolute;
  right: 50px;
  top: 50px;
  width: 30%;
}
.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin-top: 200px;
}
.footer__end p {
  font-size: 0.8rem;
}
.footer__end p:nth-child(1) {
  place-self: flex-start;
  margin-top: 7px;
}
.footer__end p:nth-child(2) {
  font-size: 1.5rem;
}
.footer__end p:nth-child(2) a {
  color: white;
  text-decoration: none;
}
.footer__end p:nth-child(3) {
  place-self: flex-end;
  margin-bottom: 21px;
}

:root {
  --background: rgb(255, 255, 255);
  --primary: #ea5736;
  --secondary: #ea5736;
  --third: #ea5736;
}

.shape {
  background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 50%);
  animation: morph 4s linear infinite, rot55 6s;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 350px;
  transition: all 1s ease-in-out;
  width: 350px;
  z-index: 5;
  box-shadow: inset -10px 0px 5px 5px #f7380d, 3px 3px 35px 5px rgb(61, 28, 1);
}

.shape-container {
  overflow: hidden;
  height: 350px;
  width: 350px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    transform: scale(1);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.1);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    transform: scale(1);
  }
}
@media (max-width: 700px) {
  .shape-container {
    transform: scale(0.5) translateX(-150px);
    z-index: -1;
  }
}
@media (max-width: 991px) {
  .shape-container {
    transform: scale(0.5) translatex(-150px) translateY(100px);
    z-index: -1;
  }
}
body {
  background: #161f37;
}

.index__tittles {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 100px);
}
.index__tittles-h2 {
  font-size: 1.8rem;
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
  padding-left: 50px;
}
.index__tittles-p {
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  width: 60%;
  line-height: 1em;
  grid-column: 1/4;
  grid-row: 3/5;
  padding-left: 50px;
}

.shape-container {
  position: absolute;
  grid-column: 1/2;
  grid-row: 1/5;
  z-index: -1;
}

.index__logo {
  width: 80%;
  grid-column: 3/4;
  grid-row: -5/-1;
  place-self: start;
}

@media (max-width: 1100px) {
  .index__tittles {
    grid-template-rows: repeat(5, 100px);
  }
}
.dropdown-menu.show {
  background-color: #161f37;
  border: none;
  top: 117%;
}
.dropdown-menu.show .dropdown-item {
  color: #ea5736;
}
.dropdown-menu.show .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.116);
}

.circle-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 15s cubic-bezier(0.46, 2.02, 0, -0.21);
}

.success {
  outline: 3px dashed #b9c108;
  border: 0.3rem solid #ea5736;
  outline-offset: 4px;
  transition: all 8s ease-in-out;
}
.success:hover {
  transform: rotate(360deg);
}

.inner {
  position: absolute;
  top: 40%;
  left: 8%;
  color: white;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
.valores {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.valores h2 {
  color: white;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}
.valores img {
  width: 30%;
  align-self: center;
  transform: translateY(-100px);
}
.valores .inner {
  text-transform: uppercase;
  color: #ea5736;
  font-size: 1.4rem;
}
.valores__section {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 100px);
  justify-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}
.valores__section div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.valores__section div:nth-child(2) {
  grid-column: -4/-3;
  grid-row: 2/3;
}
.valores__section div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.valores__section div:nth-child(3) .inner {
  padding-left: 25px;
}
.valores__section div:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
}

@media (max-width: 850px) {
  .valores__section {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(4, 150px);
  }
  .valores__section div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .valores__section div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .valores__section div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .valores__section div:nth-child(3) .inner {
    padding-left: 25px;
  }
  .valores__section div:nth-child(4) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 7rem auto;
  background-color: lightgrey;
  padding: 150px;
  width: 100%;
}
.vision div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  max-width: 700px;
}
.vision__img {
  width: 400px;
}
.vision h2,
.vision p {
  color: #161f37;
  font-size: 1.3rem;
}
.vision h2 {
  text-transform: capitalize;
  font-size: 3rem;
}

@media (max-width: 998px) {
  .vision {
    flex-direction: column;
    padding: 75px;
  }
}
.mision {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 60px auto 120px;
  max-width: 100vw;
  height: 600px;
  padding: 150px;
}
.mision div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 700px;
}
.mision__img {
  width: 400px;
}
.mision h2,
.mision p {
  color: white;
  font-size: 1.3rem;
  text-align: end;
}
.mision h2 {
  text-transform: capitalize;
  font-size: 3rem;
  place-self: end;
}

.com-interna {
  padding-top: 100px;
}
.com-interna__article {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto) repeat(2, auto);
  width: 80%;
  position: relative;
}
.com-interna__article h2 {
  grid-column: span 3;
  padding-bottom: 30px;
}
.com-interna__article h3 {
  grid-column: span 3;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 30px;
}
.com-interna__article img {
  width: 150%;
  transform: translate(180px, -50px);
}
.com-interna__ul {
  grid-column: 2/4;
  justify-self: center;
  width: 70%;
  font-size: 1.1rem;
  z-index: 2;
  line-height: 2rem;
}

.com-interna.emocional {
  color: white;
}
.com-interna.emocional ul {
  grid-column: 1/3;
  grid-row: 3/5;
}
.com-interna.emocional img {
  width: 50%;
  transform: translate(0, 0);
  grid-column: 2/4;
  grid-row: -3/-1;
  place-self: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (max-width: 1480px) {
  .com-interna.emocional img {
    margin-left: 150px;
  }
}
.com-interna.externa {
  color: #161f37;
}
.com-interna.externa div {
  grid-column: 1/4;
  text-align: center;
}
.com-interna.externa div h2 {
  padding-bottom: 0;
}
.com-interna.externa div h3 {
  font-size: 1.8em;
}
.com-interna.externa p {
  grid-row: 2/3;
  grid-column: 1/4;
  text-align: center;
}
.com-interna.externa ul {
  grid-column: 1/4;
  place-self: center;
  width: fit-content;
}
.com-interna.externa img {
  grid-column: 1/4;
  place-self: center;
  width: 44%;
  transform: translate(0, 0);
  margin-bottom: 100px;
}

.quienes-somos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  color: white;
  margin-top: 7rem;
}
.quienes-somos article {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 3em;
  margin-top: 50px;
}
.quienes-somos h2 {
  text-transform: capitalize;
  margin: 0 auto 50px auto;
}
.quienes-somos__tittles {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0;
  margin-bottom: 1.5em;
}
.quienes-somos__tittles span:nth-child(1) {
  color: #ea5736;
}
.quienes-somos__p {
  text-align: center;
  color: #ea5736;
  width: 60%;
}
.quienes-somos__manuel {
  position: relative;
  max-width: 400px;
  min-width: 349px;
}
.quienes-somos__manuel .fake-m {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
  right: 70px;
  top: -100px;
}
.quienes-somos__aniela {
  position: relative;
  max-width: 400px;
  min-width: 349px;
}
.quienes-somos__aniela .fake-a {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
  right: 70px;
  top: -100px;
}

@media (max-width: 768px) {
  .quienes-somos article {
    flex-direction: column;
    gap: 150px;
  }
  .quienes-somos .fake-a,
  .quienes-somos .fake-m {
    right: -100px;
    top: -50px;
  }
}

/*# sourceMappingURL=styles.css.map */
