* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --bs-gutter-x: 0;
    --animate-delay: 0.5s;
}

@media (max-width: 505px) {
    html {
        overflow-x: hidden;
    }
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/AvenirNext-Regular.ttf');
}

@font-face {
    font-family: 'segoe';
    src: url('../fonts/SEGOEUI.TTF');
}

.container-fluid {
    --bs-gutter-x: 0rem;
}

.container {
    --bs-gutter-x: 0rem;
}

@mixin flex($justify, $align, $direction, $gap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    gap: $gap;
}

$primaryColor: #ea5736;
$orange: #ea5736;
$secondaryColor: #b9c108;
$mustard: #b9c108;
$bg-color: #161f37;

$marginSection: 7rem;

//* ANIMATIONS
.opacity0 {
    opacity: 0;
}

img.list-icon {
    width: 15px !important;
    margin: 0px !important;
    transform: translate(0, 0) !important;
    vertical-align: middle;
}

.clipped {
    clip: rect(0 0 0 0);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: block;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: -1;
}



@media (max-width: 400px) {
    .display-none {
        display: none;
    }

    .bi-hand-index-thumb {
        position: fixed;
        top: 50%;
        left: 80%;
        font-size: 2rem;
        z-index: 5;
        color: $orange;
        animation: scroll 2s ease-in-out 3
            /*, zoom 2s linear 2*/
        ;
        // transform: translateY(50px);
    }

    @keyframes scroll {
        0% {
            transform: translateY(0);
            scale: 1;
        }

        50% {
            transform: translateY(60px);
            scale: 1.1;
        }

        51% {
            scale: 1;

        }

        80% {
            transform: translateY(0);
        }
    }

}