body {
    background: #161f37;
    overflow-x: hidden;
}

.index__tittles {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 100px);

    &-h2 {
        font-size: 1.8rem;
        color: white;
        grid-column: 1/3;
        grid-row: 1/2;
        padding-left: 50px;
    }

    &-p {
        color: white;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1em;
        grid-column: 1/4;
        grid-row: 3/5;
        padding-left: 50px;
    }
}

.shape-container {
    position: absolute;
    grid-column: 1/2;
    grid-row: 1/5;
    z-index: -1;
}

.index__logo {
    width: 80%;
    grid-column: 3/4;
    grid-row: -5/-1;
    place-self: start;
}

@media (max-width: 1160px) {
    .index__tittles {
        grid-template-rows: repeat(5, 100px);

        &-p {
            font-size: 2.6rem;
            padding-left: 30px;
        }
    }
}

@media (max-width: 991px) {
    .index__tittles {
        grid-template-rows: repeat(5, 100px);

        &-p {
            font-size: 2.6rem;
            padding-left: 30px;
        }
    }

    .index__logo {
        width: 100%;
        grid-column: 3/4;
        grid-row: -3/-1;
        place-self: end;
    }

    main {
        padding: 130px;
    }
}

//*DROPDOWN MENU - bootstrap

.dropdown-menu.show {
    background-color: $bg-color;
    border: none;
    top: 117%;

    .dropdown-item {
        color: $orange;

        &:hover {
            background-color: rgba(255, 255, 255, 0.116);
        }
    }
}

//*NUESTROS VALORES

//*ANIMACION

.circle-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2.5px;
    background-clip: content-box;
    // animation: spin 10s linear infinite;
    animation: spin 15s cubic-bezier(0.46, 2.02, 0, -0.21) infinite;
}

.success {
    outline: 3px dashed $secondaryColor;
    border: 0.3rem solid $primaryColor;
    outline-offset: 4px;
    transition: all 8s ease-in-out;

    &:hover {
        transform: rotate(360deg);
    }
}

.inner {
    position: absolute;
    top: 40%;
    left: 8%;
    color: white;
}

@keyframes spin {
    // from {
    //     transform: rotate(0deg);
    // }

    to {
        transform: rotateZ(360deg);
    }
}

//*MAIN
.valores {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    h2 {
        color: white;
        text-transform: capitalize;
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
    }

    img {
        width: 30%;
        align-self: center;
        transform: translateY(-100px);
    }

    .inner {
        text-transform: uppercase;
        color: $primaryColor;
        font-size: 1.4rem;
    }

    &__section {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 100px);
        justify-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 200px;

        div:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        div:nth-child(2) {
            grid-column: -4/-3;
            grid-row: 2/3;
        }

        div:nth-child(3) {
            grid-column: 3/4;
            grid-row: 1/2;

            .inner {
                padding-left: 25px;
            }
        }

        div:nth-child(4) {
            grid-column: 4/5;
            grid-row: 2/3;
        }
    }
}

@media (max-width: 850px) {
    .valores {
        &__section {
            grid-template-columns: repeat(2, 120px);
            grid-template-rows: repeat(4, 120px);

            div:nth-child(1) {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            div:nth-child(2) {
                grid-column: 2/3;
                grid-row: 2/3;
            }

            div:nth-child(3) {
                grid-column: 1/2;
                grid-row: 3/4;

                .inner {
                    padding-left: 25px;
                }
            }

            div:nth-child(4) {
                grid-column: 2/3;
                grid-row: 4/5;
            }
        }

        img {
            width: 80%;
        }
    }
}

//*VISION
.vision {
    @include flex(center, center, row, 1rem);
    margin: $marginSection auto;
    background-color: lightgrey;
    padding: 150px;
    width: 100%;

    div {
        @include flex(center, start, column, 2rem);
        max-width: 700px;
    }

    &__img {
        width: 400px;
    }

    h2,
    p {
        color: $bg-color;
        font-size: 1.3rem;
    }

    h2 {
        text-transform: capitalize;
        font-size: 3rem;
    }
}

@media (max-width: 998px) {
    .vision {
        flex-direction: column;
        padding: 75px;

        p {
            width: 80vw;
        }
    }
}

//*MISION
.mision {
    @include flex(center, center, row, 1rem);
    margin: $marginSection auto;
    padding: 75x;
    width: 100%;

    div {
        @include flex(center, center, column, 2rem);
        max-width: 700px;
    }

    &__img {
        width: 350px;
        min-width: 350px;
    }

    h2,
    p {
        color: white;
        font-size: 1.3rem;
        text-align: end;
    }

    h2 {
        text-transform: capitalize;
        font-size: 3rem;
        place-self: end;
        // padding-right: 100px;
    }
}

@media (max-width: 998px) {
    .mision {
        flex-direction: column-reverse;
        padding: 75px;

        p {
            width: 80vw;
        }
    }
}

//*COMUNICACION INTERNA
.com-interna {
    padding-top: 100px;

    &__article {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto) repeat(2, auto);
        width: 80%;
        position: relative;

        h2 {
            grid-column: span 3;
            padding-bottom: 30px;
        }

        h3 {
            grid-column: span 3;
            font-weight: 400;
            font-size: 1.3rem;
            padding-bottom: 30px;
        }

        img {
            width: 150%;
            // justify-self: span 2;
            transform: translate(180px, -50px);
        }
    }

    &__ul {
        grid-column: 2/4;
        justify-self: center;
        width: 70%;
        font-size: 1.1rem;
        z-index: 2;
        line-height: 2rem;
    }
}

//*COMUNICACION EMOCIONAL

.com-interna.emocional {
    color: white;

    ul {
        grid-column: 1/3;
        grid-row: 3/5;
    }

    img {
        width: 50%;
        transform: translate(0, 0);
        grid-column: 2/4;
        grid-row: -3/-1;
        place-self: center;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1480px) {
    .com-interna.emocional img {
        margin-left: 150px;
    }
}

//*COMUNICACION EXTERNA
.com-interna.externa {
    color: $bg-color;

    div {
        grid-column: 1/4;
        text-align: center;

        h2 {
            padding-bottom: 0;
        }

        h3 {
            font-size: 1.8em;
        }
    }

    p {
        grid-row: 2/3;
        grid-column: 1/4;
        text-align: center;
    }

    ul {
        grid-column: 1/4;
        place-self: center;
        width: fit-content;
    }

    img {
        grid-column: 1/4;
        place-self: center;
        width: 44%;
        transform: translate(0, 0);
        margin-bottom: 100px;
    }
}

//*QUIENES SOMOS

.quienes-somos {
    @include flex(center, center, column, 3em);
    color: white;
    margin-top: 7rem;

    article {
        @include flex(center, start, row, 3em);
        margin-top: 50px;
    }

    h2 {
        text-transform: capitalize;
        margin: 0 auto 50px auto;
    }

    &__tittles {
        @include flex(center, start, column, 0);
        margin-bottom: 1.5em;

        span:nth-child(1) {
            color: $orange;
        }
    }

    &__p {
        text-align: center;
        color: $orange;
        width: 60%;
    }

    &__manuel {
        position: relative;
        max-width: 400px;
        min-width: 349px;

        .fake-m {
            position: absolute;
            width: 150px;
            height: 150px;
            border: 1px solid white;
            border-radius: 50%;
            right: 70px;
            top: -100px;
        }
    }

    &__aniela {
        position: relative;
        max-width: 400px;
        min-width: 349px;

        .fake-a {
            position: absolute;
            width: 150px;
            height: 150px;
            border: 1px solid white;
            border-radius: 50%;
            right: 70px;
            top: -100px;
        }
    }
}

@media (max-width: 768px) {
    .quienes-somos {
        article {
            flex-direction: column;
            gap: 150px;
        }

        .fake-a,
        .fake-m {
            right: -100px;
            top: -50px;
        }
    }
}