.mision {
    @include flex(center, center, row, 1rem);
    margin: 60px auto 120px;
    background-color: lightgrey;
    max-width: 100vw;
    height: 600px;

    div {
        @include flex(center, center, column, 2rem);
        max-width: 900px;
    }

    &__img {
        width: 400px;
    }

    h2,
    p {
        color: $bg-color;
        font-size: 1.5rem;
    }

    h2 {
        text-transform: capitalize;
        font-size: 3rem;
    }
}