.footer {
    position: relative;
    padding-left: 60px;
    padding-bottom: 100px;

    h2 {
        font-family: 'Avenir';
        color: $primaryColor;
        font-weight: 700;
        font-size: 2rem;
        text-transform: capitalize;
        margin: 60px 0;
    }

    &__contact {
        display: grid;
        grid-template-columns: 30px auto;
        grid-template-rows: repeat(2, 1fr);
        color: white;
        font-size: 1.5rem;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 60px;

        a {
            text-decoration: none;
            color: white;
        }
    }

    &__social {
        @include flex(start, center, row, 20px);
        color: $primaryColor;
        margin: 30px 0;

        i {
            color: $primaryColor;
            font-size: 2em;
        }
    }

    &__logo {
        position: absolute;
        right: 0px;
        top: 15px;
        width: 25%;
    }

    &__end {
        @include flex(center, center, row, 10px);
        color: white;
        margin-top: 200px;

        p {
            font-size: 0.8rem;
        }

        p:nth-child(1) {
            place-self: flex-start;
            margin-top: 7px;
        }

        p:nth-child(2) {
            font-size: 1.5rem;

            a {
                color: white;
                text-decoration: none;
            }
        }

        p:nth-child(3) {
            place-self: flex-end;
            margin-bottom: 21px;
        }
    }
}

.form {
    position: absolute;
    top: -20px;
    left: 530px;
    border: 1px solid rgba(255, 255, 255, 0.117);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.botn {
    cursor: pointer;
    display: inline-block;
    // width: 100%;
    background: $orange;
    padding: 10px;
    margin-top: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
}

.botn:focus {
    outline: 0;
}

.botn:active {
    transform: scale(0.98);
}

.form-control {
    position: relative;
    margin: 10px 0 26px;
    width: 250px;
    height: 75px;
    background-color: transparent;
    border-color: transparent;
    color: white;
}


.form-control input,
.form-control textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px white solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}

.form-control input:focus,
.form-control input:valid,
.form-control textarea:focus,
.form-control textarea:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-control label {
    position: absolute;
    top: 0px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.form-control input:focus+label span,
.form-control input:valid+label span,
.form-control textarea:focus+label span,
.form-control textarea:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .footer {
        &__logo {
            right: -106px;
            top: 32px;
        }
    }
}

@media (max-width: 991px) {
    .footer {
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
        margin-bottom: 7rem;

        &__logo {
            position: unset;
        }

        &__contact {
            margin-top: 0;
            width: 80%;
            font-size: 1.1em;
        }

        .form {
            position: unset;
        }
    }
}

@media (max-width: 489px) {
    .footer {
        &__logo {
            width: 50%;
        }
    }
}