.footer {
    position: relative;
    padding-left: 60px;

    h2 {
        font-family: "Avenir";
        color: $primaryColor;
        font-weight: 700;
        font-size: 2rem;
        text-transform: capitalize;
        margin: 60px 0;
    }

    &__contact {
        display: grid;
        grid-template-columns: 30px auto;
        grid-template-rows: repeat(2, 1fr);
        color: white;
        font-size: 1.5rem;
        row-gap: 10px;
        column-gap: 10px;
        margin-top: 60px;
    }

    &__social {
        @include flex(start, center, row, 20px);
        color: $primaryColor;
        margin: 30px 0;

        span {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
        }

        i {
            color: $primaryColor;
        }
    }

    &__logo {
        position: absolute;
        right: 50px;
        top: 50px;
        width: 30%
    }

    &__end {
        @include flex(center, center, row, 10px);
        color: white;
        margin-top: 200px;

        p {
            font-size: 0.8rem;
        }

        p:nth-child(1) {
            place-self: flex-start;
            margin-top: 7px;

        }

        p:nth-child(2) {
            font-size: 1.5rem;

            a {
                color: white;
                text-decoration: none;
            }
        }

        p:nth-child(3) {
            place-self: flex-end;
            margin-bottom: 21px;

        }

    }
}

@media (max-width: 991px) {
    .footer {
        position: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        &__logo {
            position: unset;
        }

        &__contact {
            margin-top: 0;
        }
    }
}