header {
    background-color: #ffffff;
    height: 60px;
    width: 100vw;
}

.logo-simple {
    width: 150px;
    position: relative;
    top: -30px;
    z-index: 100;
}

.navbar {
    position: relative;
    top: -61px;
}

.nav-link {
    color: $bg-color !important;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-toggler {
    border: none;

    &:focus {
        box-shadow: none;
    }
}

.dropdown-menu {
    border: none;

    .dropdown-item {
        text-transform: capitalize;
        color: white !important;

        // &:active {
        //     background-color: #ea5736;
        // }

        &:hover {
            background-color: rgba(255, 255, 255, 0.116);
        }
    }

    &.show {
        background-color: transparent;
    }
}

main {
    padding-top: 200px;
}

.navbar-collapse.collapse.show {
    background: $bg-color;

    li {
        a {
            color: white !important;
        }
    }
}

.navbar-collapse.collapsing {
    background: $bg-color;
    top: 50px !important;

    li {
        a {
            color: white !important;
        }
    }
}

@media (max-width: 991px) {
    .navbar-nav {
        padding: 10px;
    }

    .navbar-collapse {
        border-radius: 5px;
        transform: translateY(-47px);
    }
}